body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 32px;
  margin: 0px;
  margin:12px;
}
/* if im not defining height and width, then under
display box the object will spread out */

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 32px;
  margin-top:48px;
  margin-left: auto;
}
/* Provided 200px of width to the div then margin-left:
auto that did  */