/* Add CSS Styling */

.peanut{
    font-size:28px;
    font-family:Helvetica,"Times New Roman",sans-serif;
}
.butter{
    background-color: rgb(0,0,0);
    color:rgb(255,255,255);


}

.butter-jelly{
    background-color: yellow;
}